.home-main{
    background-color: #070707;
}
.home-hero-container{
    position: relative;
}
.home-hero {
    background-size: cover; 
    background-position: center;
    width: 100vw;
    height: 100vh;
    padding: 80px 20px;
    position: relative;
}

@media (max-width: 560px) {
     .home-hero{
        background-image: url('/public/assets/background-hero.png');
     }
}
.hero-text-container{
    font-family: "Hedvig Letters Serif", serif;    
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    letter-spacing: 2.5px;
    width: 100%;
}

.home-container1 {
    height: auto; 
    width: 100vw; 
    background-color: #ffffff; 
    position: relative;
    padding: 20px 0; 
}

.home-scratch{
    background-size: cover; 
    background-position: 50% 95%; 
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;    
}
@media (max-width: 560px) {
    .home-scratch{
       background-image: url('/public/assets/scratch.png');
    }
}

.hero-team-text{
    font-size: 1.8rem;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 20px;
    color: black;
    font-family: "Hedvig Letters Serif", serif;}


