.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: transparent;
    color: white;
    z-index: 40;
    position: absolute;
    width: 100dvw;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    font-size: 0.85rem;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
  }
  
  .nav-links a:hover {
    text-decoration: underline;
  }
  