:root {
    --primary-color: black;
    --border-animation-color: black;
}
.welcome-main {
    height: 100%;
    width: 100dvw; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    justify-items: center;
}

.welcome-container-nav {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center; 
    justify-content: flex-end;
    position: relative; 
    overflow: hidden; 
}

.welcome-container-nav::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 1px; 
    background-color: var(--border-animation-color);
    animation: borderAnimation 8s infinite; 
}

@keyframes borderAnimation {
    0%, 100% {
        width: 0;
        left: 50%;
    }
    25%, 50% {
        width: 100%;
        left: 0;
    }
}

.welcome-nav-icon {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.welcome-message {
    position: absolute;
    width: 350px;
    top: 300px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px; 
    font-weight: 900;
    color: black;
    text-align: center;
    transition: opacity 0.5s ease;
    z-index: 60;
    background-color: white;
    font-family: 'Lexend Deca', sans-serif;
}

.welcome-fade-out {
    opacity: 0;
}

.welcome-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    position: relative;
    width: 100vw; 
    height: 450px; 
    overflow: hidden; 
    padding-top: 70px;
}

.welcome-icon {
    z-index: 30; 
    position: absolute; 
    transition: transform 0.3s ease; 
    animation: float 2s ease-in-out infinite; 
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0);
    }
}

.welcome-icon.mercury {
    width: 40px;
    height: 40px;
    top: 190px; 
    left: 30px; 
    animation-duration: 4s; 
}

.welcome-icon.globe {
    width: 45px;
    height: 45px;
    top: 30px; 
    left: 70px; 
    animation-duration: 4.6s; 
}

.welcome-icon.jupiter {
    width: 60px; 
    height: 60px; 
    animation-duration: 5.2s; 
}

.welcome-icon.saturn {
    width: 55px;
    height: 55px;
    top: 290px; 
    left: 360px; 
    animation-duration: 6.5s; 
}

.welcome-icon.galaxy {
    width: 80px;
    height: 80px;   
    top: 50px; 
    left: 400px; 
    animation-duration: 7s; 
}

@keyframes float-easter {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0);
    }
}

.welcome-easter-egg-container {
    position: absolute;
    z-index: 20;
    width: 40px;
    height: 40px;
    animation: float-easter 5.2s ease-in-out infinite;
    top: 60px;
    left: 340px;
    opacity: 0;
}

@media (max-width: 360px) {
    .welcome-easter-egg-container {
        left: 315px;
    }
}

.welcome-keliatan {
    opacity: 1;
}

.welcome-easter-egg {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    background: transparent;
}

.welcome-fullscreen-easter-egg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; 
}

.welcome-fullscreen-image {
    max-width: 90%;
    max-height: 90%;
}

.welcome-close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

@keyframes float-astro {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-12px);
    }
    100% {
        transform: translateY(0);
    }
}

.welcome-astronaut-container {
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    animation: float-astro 4.5s ease-in-out infinite; 
}

.welcome-astronaut {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    background: transparent;
}

@media (min-width: 768px) {
    .welcome-container {
        width: 700px;
    }
}

@media (max-width: 768px) {
    .welcome-icon.galaxy {
        display: none;
    }
}

.welcome-container2 {
    justify-items: center;
    position: relative;
    justify-content: center;
    font-family: 'Lexend Deca', sans-serif;
}

.welcome-icon-astro {
    z-index: 30; 
    position: absolute; 
    transition: transform 0.3s ease; 
    animation: float2 3s ease-in-out infinite; 
}

@keyframes float2 {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

.welcome-icon-astro.welcome-astro1 {
    width: 25px;
    height: 25px;
    animation-duration: 4s; 
    top: -80px;
    left: 60px;
}

.welcome-icon-astro.welcome-astro2 {
    width: 25px;
    height: 25px;
    animation-duration: 7s; 
    left: 40px;
    top: 60px;
}

.welcome-icon-astro.welcome-astro3 {
    width: 25px;
    height: 25px;
    animation-duration: 8s; 
    left: 5px;
    top: -15px;
}

.welcome-icon-astro.welcome-astro4 {
    width: 25px;
    height: 25px;
    animation-duration: 9s; 
    left: 350px;
    top: 150px;
}

.welcome-icon-astro.welcome-astro5 {
    width: 25px;
    height: 25px;
    animation-duration: 7.5s; 
    left: 280px;
}

.welcome-start-button-light {
    background-color: #070707;
    color: white;
    height: 40px;
    margin-top: 10px;
    width: 330px;
    font-size: larger;
}

.welcome-byn {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 10px;
    margin: 3px;
}
